DB_USER=admin
DB_PASSWORD=admin123
DB_NAME=roblox_store
R2_ENDPOINT=https://r2-id.r2.cloudflarestorage.com
R2_ACCESS_KEY=r2_key
R2_SECRET_KEY=r2_secret
R2_BUCKET_NAME=assets-bucket
R2_PUBLIC_URL=https://cdn.warware.org
R2_PUBLIC_BUCKET_NAME=assets-public
ROBLOX_WEBHOOK_KEY=webhook_api_key
DISCORD_CLIENT_ID=discord_client_id
DISCORD_CLIENT_SECRET=discord_client_secret
DISCORD_TOKEN=discord_token
DISCORD_GUILD_ID=guild_id
DISCORD_CHANNEL_ID=log_channel_id
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080
ROBLOX_CLIENT_ID=roblox_id
ROBLOX_CLIENT_SECRET=roblox_secret
BACKEND_PORT=3004
DOCKER_API_VERSION=1.41
VPNAPI_KEY=api_key